*{
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    
}
h2{
    margin-top: 5%;
}
.mainbody{
    margin-top: 5%;
}
.serchplace{
    display: flex;
    flex-direction: column;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 2%;
    
}
.serchplace>button{
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 7px;
    border-radius: 5px;
    background-color: rgb(211, 211, 211);
    border: 5px;
}
#definition{
    margin-left: 20%;
    margin-right: 20%;
}